//color
$white: #ffffff;
$light-green: #6c9c5a;
$green: #4f8839;
$gray: #566359;
$dark-gray: #373e42;

$left: #ebefe2;
$right: #f4f5f0;

//container
$container: 960px;

//fonts
$main-fonts: 'Roboto Regular';
$font-Roboto-Med: 'Roboto Medium';
$font-Roboto-Bold: 'Roboto Bold';
$font-Roboto-BoldItalic: 'Roboto BoldItalic';
$font-Roboto-LightItalic: 'Roboto LightItalic';
$title-fonts: 'Sansus';


$main-fonts-size: 16px;
$title-h1-size: 63px;
$title-h2-size: 35px;


//w-h
$header-height: 1000px;
$height-footer: 144px
