/*
.about {
  position: relative;
  @extend %clearfix;
}
*/

.about {
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
 
  &__left {
    padding-left: 20px;
    padding-right: 20px;
    background: $left;

    //@extend %clearfix;

    grid-template-columns: repeat(auto-fit ,minmax(443px, 1fr));


    @include laptop-l {
      grid-template-rows: 125px + 70px;
    }

    @include tablet {
      grid-column: 1 / -1;
    }

    @include phone {
      grid-template-columns: repeat(auto-fit ,minmax(290px, 1fr));
    }
  }

  &__right {
    padding-left: 20px;
    padding-right: 20px;
    background: $right;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 20px;
      grid-column: 1/-1;
    }
  }
}

.about__title {
  text-align: center;
  height: 125px;
/*
  @include phone {
    width: 290px;
  }
  */
}

.about__description {
  /*
  @include phone {
    width: 290px;
  }
  */
}
