/*
.about {
  position: relative;
  @extend %clearfix;
}
*/

.about {
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);

  
  &__left {
    padding-left: 20px;
    padding-right: 20px;
    background: $left;

    grid-template-columns: repeat(auto-fit ,minmax(450px, 1fr));
  }

  &__right {
    padding-left: 20px;
    padding-right: 20px;
    background: $right;
  }
}

.about__title {
  text-align: center;
  height: 125px;
}
