.nav__list {
  font-size: 0px;
}

.nav__item {
  @include inline-block();

  margin-right: 40px;

  @include tablet {
    margin-right: 16px;
  }

  @include phone {
    text-align: center;
  }

}

.nav__link {
  color: $white;
  font-size: 16px;
  font-family: $font-Roboto-Bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 13px;
  }
}