

.skill-section__title {
  font-family: $font-Roboto-Med;
  font-size: 28px;
  color: $gray;

  margin-bottom: 10px;

  @include tablet {
    text-align: center;
  }

}

.skill-section__list {
  margin-bottom: 20px;


  @include desktop {
    text-align: center;
  }

}

.skills-section__item {
  display: inline-block;
  margin-right: 40px;

  .skill {
    position: relative;
    width: 120px;
    height: 120px;
  }

  @include laptop-l {
    margin-right: 17px;
  }

}

.skill__name {
  font-family: $font-Roboto-Med;
  color: $green;

  @include centered();
}