.title-h1 {
    position: relative;
    text-align: center;

    height: 125px;

    margin-bottom: 70px;

    @include tablet {
        margin-bottom: 30px;
    }
}

.title-h1__bg {
    display: inline-block;

    &_position_top {
        img {
            position: relative;
            top: -20px;
        }
    }
}

.title-h1__text {
    @include centered();

    h1 {
        font-size: $title-h1-size;
        font-family: $title-fonts;
        color: $dark-gray;

        @include tablet {
            font-size: 49px;
        }

        @include phone {
            font-size: 43px;
        }
    }

    &::after {
        content: "";
        @include centered(x);
        bottom: -20px;
        width: 90px;
        height: 2px;
        background: $dark-gray;
    }
}

.title-h1_after_bg_white {
    &::after {
        background: $white;
    }
}

h1.title-h1_color_white {
    color: $white;
}