.title-h2 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

  &::after {
    content: '';
    width: 90px;
    height: 2px;
    background: $gray;

    @include centered(x);
    bottom: 0;
  }
}

.title-h2__text {
  text-align: center;
}

.title-h2__head {
  font-family: $title-fonts;
  font-size: $title-h2-size;
  color: $gray;

  text-transform: uppercase;
}