.triangle {
  grid-template-columns: repeat(2, 1fr);
  align-content: end;

  margin-bottom: -6px;
}

.triangles {
  /*
  svg {
    width: 100%;
    height: 100%;
  }
  */
}

.triangles_fill_green {
  fill: $left;
}

.triangles_fill_white {
  fill: $right;

  @include tablet {
    fill: $left;
  }
}

.triangles_fill_blog {
 fill: #faf8f0;
}